// Import Variables File
@import "@SassVars";

// Styling Custom InputTime
.input-time {
	min-height: 55px;
	width: 179px;
	padding: 12px 15px 12px 20px;
	background-color: $form;
	color: $main-text;
	border-radius: 20px;
	border: 2px solid $outline;
	font-size: 14pt;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: capitalize;
	transition: all 300ms;
	user-select: none;
	position: relative;
	.icon {
		height: 25px;
		cursor: pointer;
	}
	&.isFocus {
		border: 2px solid transparent;
		box-shadow: 0 0 5px -1px $primary;
	}
	// Icon
	ion-icon {
		font-size: 18pt;
		color: $primary;
	}
	// Input
	input {
		display: none;
	}
	// Picker
	.picker {
		width: 300px;
		height: 350px;
		background-color: white;
		position: absolute;
		top: calc(100% + 20px);
		left: 0;
		box-shadow: 0 0 7px -4px $title-text;
		border-radius: 20px;
		padding: 20px;
		z-index: 2000;
		&.hide {
			display: none !important;
		}
		.t5 {
			font-size: 14pt;
		}
		.am,
		.pm {
			border-radius: 10px;
			padding: 7px 11px;
			font-size: 10pt;
			color: white;
			background-color: $disabledLight;
			color: $title-text;
			transition: all 300ms;
			cursor: pointer;
			&.active {
				background-color: $primary;
				color: white;
			}
		}
		// Hours
		.hours {
			height: 200px;
			width: 200px;
			background-color: #eee;
			border-radius: 50%;
			position: relative;
			padding: 10px;
			// Picker
			.picker-hours {
				height: 36.5%;
				width: 4px;
				background-color: $primary;
				position: absolute;
				left: 50%;
				bottom: 50%;
				transform-origin: bottom center;
				transform: translate(-50%, 0);
				transition: transform 300ms;
				&::before {
					content: "";
					width: 10px;
					height: 10px;
					background-color: $primary;
					position: absolute;
					bottom: 0;
					left: 0;
					border-radius: 50%;
					transform: translate(calc(-50% + 2px), 50%);
				}
				&::after {
					content: "";
					width: 25px;
					height: 25px;
					border: 4px solid $primary;
					background-color: $primary;
					position: absolute;
					top: 2px;
					left: 0;
					border-radius: 50%;
					transform: translate(calc(-50% + 2px), -100%);
				}
			}
			// Values Of Hours
			.values {
				height: 93%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1000;
				span {
					display: block;
					height: 50%;
					position: absolute;
					bottom: 50%;
					left: 50%;
					font-size: 10pt;
					color: $title-text;
					transition: color 300ms 200ms;
					transform-origin: bottom center;
					cursor: pointer;
					&.active {
						color: white;
					}
					@for $i from 1 through 12 {
						@if $i ==12 {
							&:nth-child(#{$i}) {
								transform: translate(-50%, 0) rotate(0deg);
							}
						} @else {
							&:nth-child(#{$i}) {
								transform: translate(-50%, 0)
									rotate(#{360 / 12 * $i}deg);
							}
						}
					}
				}
			}
		}
		// Back And Next For Select Hours Or Minutes
		.next,
		.back {
			width: 20px;
			cursor: pointer;
			&.disable {
				ion-icon {
					transition: color 200ms;
					color: $disabled !important;
				}
			}
		}
	}
}
//=============Responsive
// Mobile
@media (max-width: 767.98px) {
	// Styling SelectBox
	.input-time {
		min-height: 40px;
		width: 100%;
		max-width: 150px;
		font-size: 11pt;
		padding: 8px 11px 8px 16px;
		// Picker
		.picker {
			width: 250px;
			height: 300px;
			// Hours
			.hours {
				height: 150px;
				width: 150px;
				// Picker
				.picker-hours {
					width: 2px;
					&::before {
						height: 7px;
						width: 7px;
						transform: translate(calc(-50% + 1px), 50%);
					}
					&::after {
						height: 18px;
						width: 18px;
						transform: translate(calc(-50% + 1px), -100%);
					}
				}
				// Values Of Hours
				.values {
					height: 90%;
					span {
						font-size: 7pt;
					}
				}
			}
		}
		.icon {
			height: 14pt;
			ion-icon {
				font-size: 14pt;
			}
		}
		.am,
		.pm {
			font-size: 7pt !important;
		}
	}
}
